[[source]]
name = "PyPI"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

[dev-packages]
pre-commit = "==4.1.0"
ruff = "==0.9.6"
pylint = "==3.3.4"


[requires]
python_version = "3.12"

[scripts]
format = "pre-commit run --all-files"
start = "sh -c 'python \"$(echo $1 | sed \"s/\\([a-zA-Z0-9_]*\\)/\\1\\/\\1.py/\")\"' --"
